(
  resources: {},
  entities: {
    0: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 300.0, 0.0),
        ),
        "bevy_sprite::sprite::Sprite": (
          color: Srgba(Srgba(red: 0.5, green: 0.0, blue: 0.5, alpha: 1.0)),
          custom_size: Some((16.0, 32.0)),
        ),
      },
    ),
  },
)
