(
    id: "reduce_spawn_time",
    name: "Hastened Doom",
    description: "Portals spawn enemies faster.",
    reward_id: "blessing:spawn_timer:decrease",
    cost: Linear((
        base: 10.0,
        increment: 5.0,
    )),
)
