(
    id: "bone_sword",
    name: "Bone Sword",
    description: "It can cut and hurt. We could kill invaders more effectively.",
    cost: { "bones": 50 },
    time_required: 90,
    max_repeats: 1,
)
