(
    id: "autopsy_worg",
    name: "Autopsy: worg",
    description: "Filthy ugly beast. We shall turn it to bones.",
    cost: {
        "bones": 30,
    },
    time_required: 45.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_worg_unlock",
        display_name: Some("Autopsy: worg"),
        condition: Value(
            topic: "kills:worg",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_worg",
    )),
)