(
    id: "autopsy_boss_worg_rider",
    name: "Autopsy: Boss Worg Rider",
    description: "We killed their boss. Time to celebrate.",
    cost: {
        "bones": 150,
    },
    time_required: 180.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_boss_worg_rider_unlock",
        display_name: Some("Autopsy: Boss Worg Rider Research"),
        condition: Value(
            topic: "kills:boss_worg_rider",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_boss_worg_rider",
        repeat_mode: Once,
    )),
)