(
    id: "autopsy_worg_alpha",
    name: "Autopsy: worg_alpha",
    description: "Their fur is as hard as stell and black as a night. Are they demons?",
    cost: {
        "bones": 75,
        "xykego": 50,
    },
    time_required: 120.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_worg_alpha_unlock",
        display_name: Some("Autopsy: worg_alpha"),
        condition: Value(
            topic: "kills:worg_alpha",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_worg_alpha",
    )),
)