(
    id: "autopsy_goblin_scout",
    name: "Autopsy: Goblin Scout",
    description: "They are small, thin and angry. And very, very ugly.",
    cost: {
        "bones": 20,
    },
    time_required: 60.0,
    max_repeats: 1,
    tags: ["research:autopsy"],
    unlock: Some((
        id: "research_autopsy_goblin_scout_unlock",
        display_name: Some("Autopsy: Goblin Scout Research"),
        condition: Value(
            topic: "kills:goblin_scout",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_goblin_scout",
        repeat_mode: Once,
    )),
)
