(
    id: "autopsy_goblin_warrior",
    name: "Autopsy: goblin_warrior",
    description: "This one has weapons of bones and some scars. Still green and even more uglier.",
    cost: {
        "bones": 30,
        "xykego": 10,
    },
    time_required: 60.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_goblin_warrior_unlock",
        display_name: Some("Autopsy: goblin_warrior"),
        condition: Value(
            topic: "kills:goblin_warrior",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_goblin_warrior",
    )),
)