(
    id: "autopsy_goblin_archer",
    name: "Autopsy: goblin_archer",
    description: "They stay further than the rest. That is good. We do not need to look at their ugliness.",
    cost: {
        "bones": 60,
    },
    time_required: 90.0,
    max_repeats: 1,
)