(
    id: "autopsy_hobgoblin_mauler",
    name: "Autopsy: Hobgoblin Mauler",
    description: "They are bigger. And muscular?",
    cost: {
        "bones": 75,
        "xykego": 50,
    },
    time_required: 90.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_hobgoblin_mauler_unlock",
        display_name: Some("Autopsy: Hobgoblin Mauler Research"),
        condition: Value(
            topic: "kills:hobgoblin_mauler",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_hobgoblin_mauler",
    )),
)