(
    id: "autopsy_siled",
    name: "Autopsy: Siled",
    description: "Ugly teeth, six legs.. And mean.",
    cost: {},
    time_required: 20.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_siled_unlock",
        display_name: Some("Autopsy: Siled Research"),
        condition: Value(
            topic: "kills:siled",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_siled",
        repeat_mode: Once,
    )),
)