(
    id: "autopsy_goblin_rider",
    name: "Autopsy: Goblin Rider",
    description: "Riding on a beast. Fast. So fast they become fuzzy as they run. Which makes them super ugly.",
    cost: {
        "bones": 50,
    },
    time_required: 80.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_goblin_rider_unlock",
        display_name: Some("Autopsy: Goblin Rider Research"),
        condition: Value(
            topic: "kills:goblin_rider",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_goblin_rider",
        repeat_mode: Once,
    )),
)