(
    id: "autopsy_worg_alpha",
    name: "Autopsy: Worg Alpha",
    description: "Their fur is as hard as stell and black as a night. Are they demons?",
    cost: {
        "bones": 120,
    },
    time_required: 150.0,
    max_repeats: 1,
    tags: ["research:autopsy"],
    unlock: Some((
        id: "research_autopsy_worg_alpha_unlock",
        display_name: Some("Autopsy: Worg Alpha Research"),
        condition: Value(
            topic: "kills:worg_alpha",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_worg_alpha",
        repeat_mode: Once,
    )),
)
