(
    id: "autopsy_goblin_archer",
    name: "Autopsy: Goblin Archer",
    description: "They stay further than the rest. That is good. We do not need to look at their ugliness.",
    cost: {
        "bones": 100,
    },
    time_required: 100.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_goblin_archer_unlock",
        display_name: Some("Autopsy: Goblin Archer Research"),
        condition: Value(
            topic: "kills:goblin_archer",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_goblin_archer",
        repeat_mode: Once,
    )),
)