(
    id: "autopsy_goblin",
    name: "Autopsy: Goblin",
    description: "They are green. Ugly. Pointy ears. Ugly. Small. And really ugly.",
    cost: {
        "bones": 30,
    },
    time_required: 60.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_autopsy_goblin_unlock",
        display_name: Some("Autopsy: Goblin Research"),
        condition: Value(
            topic: "kills:goblin",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:autopsy_goblin",
        repeat_mode: Once,
    )),
)