(
    id: "bone_crafting",
    name: "Bone Crafting",
    description: "Use their bones against them.",
    cost: {
        "bones": 100,
    },
    time_required: 90.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_bone_crafting_unlock",
        display_name: Some("Bone Crafting Research"),
        condition: And([
            Value(
                topic: "divinity",
                op: Ge,
                target: 106.0,
            ),
            Completed(
                topic: "research:bone_pile",
            ),
        ]),
        reward_id: "research:bone_crafting",
        repeat_mode: Once,
    )),
    tags: [],
)