(
    id: "bone_sword",
    name: "Bone Sword",
    description: "Their bones are sharp. Sharper than our rocks.",
    cost: {
        "bones": 225,
    },
    time_required: 120.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_bone_sword_unlock",
        display_name: Some("Bone Sword Research"),
        condition: Completed(
            topic: "research:bone_crafting",
        ),
        reward_id: "research:bone_sword",
        repeat_mode: Once,
    )),
    tags: [],
)