(
    id: "corpse_scavenging",
    name: "Corpse Scavenging",
    description: "Let\'s pull their bodies apart and take what we can.",
    cost: {},
    time_required: 30.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_corpse_scavenging_unlock",
        display_name: Some("Corpse Scavenging Research"),
        condition: Or([
            Value(
                topic: "kills:siled",
                op: Ge,
                target: 20.0,
            ),
            Value(
                topic: "kills:siled_alpha",
                op: Ge,
                target: 10.0,
            ),
            Completed(
                topic: "research:invaders",
            ),
        ]),
        reward_id: "research:corpse_scavenging",
    )),
)