(
    id: "invaders",
    name: "Invaders",
    description: "The came from nowhere. Bringing death... And resources.",
    cost: {},
    time_required: 10.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_invaders_unlock",
        display_name: Some("Invaders Research"),
        condition: And([
            Value(
                topic: "kills:siled",
                op: Ge,
                target: 7.0,
            ),
        ]),
        reward_id: "research:invaders",
    )),
)