(
    id: "portal_discovery",
    name: "Portal Discovery",
    description: "They come from crack in space. But why? How?",
    cost: {
        "bones": 50,
        "xykego": 50,
    },
    time_required: 60.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_portal_discovery_unlock",
        display_name: Some("Portal Discovery Research"),
        condition: And([
            Completed(
                topic: "research:simple_crafting",
            ),
            Value(
                topic: "divinity",
                op: Ge,
                target: 104.0,
            ),
        ]),
        reward_id: "research:portal_discovery",
        repeat_mode: Once,
    )),
)