(
    id: "sharp_rocks",
    name: "Sharpened Rocks",
    description: "If we sharpen our rocks, they will do more damage.",
    cost: {},
    time_required: 90.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_sharp_rocks_unlock",
        display_name: Some("Sharpened Rocks Research"),
        condition: And([
            Completed(
                topic: "research:simple_crafting",
            ),
            Value(
                topic: "divinity",
                op: Ge,
                target: 104.0,
            ),
        ]),
        reward_id: "research:sharp_rocks",
    )),
)