(
    id: "we_cant_kill_him",
    name: "We can\'t kill him",
    description: "He\'s too strong. Maybe god can help?",
    cost: {},
    time_required: 120.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_we_cant_kill_him_unlock",
        display_name: Some("We can\'t kill him Research"),
        condition: Value(
            topic: "escapes:boss_worg_rider",
            op: Ge,
            target: 1.0,
        ),
        reward_id: "research:we_cant_kill_him",
    )),
)