(
    id: "fireball",
    display_name: "Fireball",
    skill_type: AutoActivate,
    cooldown_ms: 2000,
    target: SingleEnemy(range: 380.0),
    effects: [
        Projectile(speed: 400.0, damage: 25.0),
    ],
    unlock: Some((
        id: "skill_fireball_unlock:",
        display_name: Some("Skill: Fireball"),
        condition: Value(
            topic: "kills:siled",
            op: Ge,
            target: 5.0,
        ),
        reward_id: "skill:fireball",
    )),
    tags: ["skill:fire", "skill:ranged"],
)
