(
    id: "divinity_1_8",
    display_name: Some("Divinity Tier 1 Level 8"),
    condition: Completed(
        topic: "construction:bone_idol",
    ),
    reward_id: "divinity:1-8",
    repeat_mode: Once,
)