(
    id: "research_invaders_unlock",
    display_name: Some("Invaders Research"),
    reward_id: "research_invaders",
    condition: And([
        Stat(Kills(monster_id: "goblin_scout", value: 5, op: Ge)),
    ]),
)
