(
    id: "research_we_cant_kill_him_unlock",
    display_name: Some("We can\'t kill him Research"),
    condition: Value(
        topic: "escapes:boss_worg_rider",
        op: Ge,
        target: 1.0,
    ),
    reward_id: "research:we_cant_kill_him",
)