(
    id: "research_vision_i_unlock",
    display_name: Some("A Vision Research"),
    reward_id: "research_vision_i",
    condition: And([
        Completed(topic: "research:portal_creator"),
        Completed(topic: "research:xykego"),
    ]),
)
