
(
    id: "invaders_research",
    display_name: Some("Invaders.."),
    reward_id: "research_invaders",
    condition: And([
        Stat(Kills(
            monster_id: "goblin_scout",
            value: 5.0,
            op: Ge,
        )),
    ]),
)
