(
    id: "research_corpse_scavenging_unlock",
    display_name: Some("Corpse Scavenging Research"),
    condition: Or([
        Value(
            topic: "kills:siled",
            op: Ge,
            target: 20.0,
        ),
        Value(
            topic: "kills:siled_alpha",
            op: Ge,
            target: 10.0,
        ),
    ]),
    reward_id: "research:corpse_scavenging",
)