(
    id: "research_corpse_scavenging_unlock",
    display_name: Some("Corpse Scavenging Research"),
    reward_id: "research_corpse_scavenging",
    condition: And([
        Completed(topic: "research:invaders"),
        Value(topic: "kills:goblin_scout", target: 10.0, op: Ge),
    ]),
)
