(
    id: "research_primitive_sling_unlock",
    display_name: Some("Primitive Sling Research"),
    condition: And([
        Completed(
            topic: "research:simple_crafting",
        ),
    ]),
    reward_id: "research:primitive_sling",
)