(
    id: "research_bone_pile_unlock",
    display_name: Some("Pile of Bones Research"),
    condition: And([
        Value(
            topic: "divinity",
            op: Ge,
            target: 105.0,
        ),
        Value(
            topic: "resource:bones",
            op: Ge,
            target: 200.0,
        ),
    ]),
    reward_id: "research:bone_pile",
)