(
    id: "research_bone_crafting_unlock",
    display_name: Some("Bone Crafting Research"),
    condition: And([
        Value(
            topic: "divinity",
            op: Ge,
            target: 106.0,
        ),
        Completed(
            topic: "research:bone_pile",
        ),
    ]),
    reward_id: "research:bone_crafting",
)