(
    id: "research_sharp_rocks_unlock",
    display_name: Some("Sharpened Rocks Research"),
    condition: And([
        Completed(
            topic: "research:simple_crafting",
        ),
        Value(
            topic: "divinity",
            op: Ge,
            target: 104.0,
        ),
    ]),
    reward_id: "research:sharp_rocks",
)