(
  resources: {
    "research::ResearchState": (
      completion_counts: {
        "invaders": 1,
        "bone_sword": 1,
        "simple_crafting": 1,
        "sling": 1,
        "portal_discovery": 1,
        "xykego": 1,
        "corpse_scavenging": 1,
      },
    ),
    "wallet::Wallet": (
      resources: {
        "sinew": 6,
        "bones": 342,
        "xykego": 260,
      },
      unlocked_resources: [
        "xykego",
        "bones",
        "sinew",
      ],
    ),
  },
  entities: {
    4294967231: (
      components: {
        "research::ResearchCompletionCount": (1),
      },
    ),
    4294967232: (
      components: {
        "research::ResearchCompletionCount": (1),
      },
    ),
    4294967233: (
      components: {
        "research::ResearchCompletionCount": (1),
      },
    ),
    4294967234: (
      components: {
        "research::ResearchCompletionCount": (1),
      },
    ),
    4294967235: (
      components: {
        "research::ResearchCompletionCount": (1),
      },
    ),
    4294967236: (
      components: {
        "research::ResearchCompletionCount": (1),
      },
    ),
    4294967239: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967240),
        "bevy_ecs::hierarchy::Children": ([
          146028887886,
        ]),
        "hero_components::EquippedWeaponId": (Some("primitive_sling")),
        "hero_components::Hero": (),
      },
    ),
    4294967240: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::Children": ([
          4294967239,
        ]),
        "bevy_picking::Pickable": (
          should_block_lower: true,
          is_hoverable: true,
        ),
        "bevy_picking::hover::PickingInteraction": r#None,
        "bevy_sprite::sprite::Anchor": ((0.0, 0.0)),
        "bevy_sprite::sprite::Sprite": (
          image: Uuid("97128bb1-2588-480b-bdc6-87b4adbec477"),
          texture_atlas: None,
          color: Srgba((
            red: 0.824,
            green: 0.412,
            blue: 0.118,
            alpha: 1.0,
          )),
          flip_x: false,
          flip_y: false,
          custom_size: Some((32.0, 32.0)),
          rect: None,
          image_mode: Auto,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, -300.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "divinity_components::Divinity": (
          tier: 1,
          level: 3,
        ),
        "divinity_components::DivinityStats": (
          current_xp: 0.0,
          required_xp: 100.0,
        ),
        "village_components::EnemyEncyclopedia": (
          inner: {
            "goblin_scout": (
              display_name: "Goblin Scout",
              kill_count: 3,
            ),
            "siled": (
              display_name: "Siled",
              kill_count: 202,
            ),
            "siled_alpha": (
              display_name: "Siled Alpha",
              kill_count: 92,
            ),
          },
        ),
        "village_components::Village": (),
        "village_components::WeaponInventory": (
          weapons: [
            "melee_rock",
            "throwing_rock",
            "primitive_sling",
          ],
        ),
      },
    ),
    4294967241: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_picking::Pickable": (
          should_block_lower: true,
          is_hoverable: true,
        ),
        "bevy_picking::hover::PickingInteraction": r#None,
        "bevy_sprite::sprite::Anchor": ((0.0, 0.0)),
        "bevy_sprite::sprite::Sprite": (
          image: Uuid("97128bb1-2588-480b-bdc6-87b4adbec477"),
          texture_atlas: None,
          color: Srgba((
            red: 0.5,
            green: 0.0,
            blue: 0.5,
            alpha: 1.0,
          )),
          flip_x: false,
          flip_y: false,
          custom_size: Some((16.0, 32.0)),
          rect: None,
          image_mode: Auto,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 300.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "divinity_components::CurrentDivinity": ((
          tier: 1,
          level: 3,
        )),
        "portal_components::Portal": (),
        "portal_components::SpawnTableId": ("default"),
        "portal_components::SpawnTimer": ((
          stopwatch: (
            elapsed: (
              secs: 2,
              nanos: 716196300,
            ),
            is_paused: false,
          ),
          duration: (
            secs: 3,
            nanos: 0,
          ),
          mode: Repeating,
          finished: false,
          times_finished_this_tick: 0,
        )),
      },
    ),
    47244640197: (
      components: {
        "research::ResearchCompletionCount": (1),
      },
    ),
    219043332007: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_sprite::sprite::Anchor": ((0.0, 0.0)),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "enemy_components::Dead": (),
        "enemy_components::Drops": ([
          (
            id: "bones",
            value: 1,
            chance: 1.0,
          ),
          (
            id: "xykego",
            value: 1,
            chance: 1.0,
          ),
          (
            id: "sinew",
            value: 1,
            chance: 0.1,
          ),
        ]),
        "enemy_components::Enemy": (),
        "enemy_components::EnemyRange": CloseRange,
        "enemy_components::Health": (
          current: -1.0,
          max: 0.5,
        ),
        "enemy_components::Lifetime": ((
          stopwatch: (
            elapsed: (
              secs: 2,
              nanos: 687427000,
            ),
            is_paused: false,
          ),
          duration: (
            secs: 5,
            nanos: 0,
          ),
          mode: Once,
          finished: false,
          times_finished_this_tick: 0,
        )),
        "enemy_components::MonsterId": ("siled"),
        "enemy_components::MovementSpeed": (160.0),
        "enemy_components::TargetDestination": ((69.03741, -263.20743)),
        "shared_components::DisplayName": ("Siled"),
      },
    ),
    382252089149: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_sprite::sprite::Anchor": ((0.0, 0.0)),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "enemy_components::Dead": (),
        "enemy_components::Drops": ([
          (
            id: "bones",
            value: 2,
            chance: 1.0,
          ),
          (
            id: "xykego",
            value: 1,
            chance: 1.0,
          ),
          (
            id: "sinew",
            value: 1,
            chance: 0.1,
          ),
        ]),
        "enemy_components::Enemy": (),
        "enemy_components::EnemyRange": CloseRange,
        "enemy_components::Health": (
          current: -0.5,
          max: 1.0,
        ),
        "enemy_components::Lifetime": ((
          stopwatch: (
            elapsed: (
              secs: 5,
              nanos: 687780100,
            ),
            is_paused: false,
          ),
          duration: (
            secs: 6,
            nanos: 0,
          ),
          mode: Once,
          finished: false,
          times_finished_this_tick: 0,
        )),
        "enemy_components::MonsterId": ("siled_alpha"),
        "enemy_components::MovementSpeed": (150.0),
        "enemy_components::TargetDestination": ((28.62059, -233.88206)),
        "shared_components::DisplayName": ("Siled Alpha"),
      },
    ),
    481036337019: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_sprite::sprite::Anchor": ((0.0, 0.0)),
        "bevy_sprite::sprite::Sprite": (
          image: Uuid("97128bb1-2588-480b-bdc6-87b4adbec477"),
          texture_atlas: None,
          color: Srgba((
            red: 0.3,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          )),
          flip_x: false,
          flip_y: false,
          custom_size: Some((18.0, 18.0)),
          rect: None,
          image_mode: Auto,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (96.62689, -113.11414, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "enemy_components::Drops": ([
          (
            id: "bones",
            value: 2,
            chance: 1.0,
          ),
          (
            id: "xykego",
            value: 1,
            chance: 1.0,
          ),
          (
            id: "sinew",
            value: 1,
            chance: 0.1,
          ),
        ]),
        "enemy_components::Enemy": (),
        "enemy_components::EnemyRange": CloseRange,
        "enemy_components::Health": (
          current: 1.0,
          max: 1.0,
        ),
        "enemy_components::Lifetime": ((
          stopwatch: (
            elapsed: (
              secs: 2,
              nanos: 687427000,
            ),
            is_paused: false,
          ),
          duration: (
            secs: 6,
            nanos: 0,
          ),
          mode: Once,
          finished: false,
          times_finished_this_tick: 0,
        )),
        "enemy_components::MonsterId": ("siled_alpha"),
        "enemy_components::MovementSpeed": (150.0),
        "enemy_components::TargetDestination": ((96.62689, -273.26868)),
        "shared_components::DisplayName": ("Siled Alpha"),
      },
    ),
  },
)