(
    id: "stat:autopsy_boss_worg_rider",
    bonuses: {
        "damage:race:goblins": [
            (
                value: 0.1,
                mode: Percent,
            ),
        ],
    },
    unlock: Some((
        id: "stat:autopsy_boss_worg_rider_unlock",
        display_name: Some("Stat Bonus: stat:autopsy_boss_worg_rider"),
        condition: Completed(
            topic: "research:autopsy_boss_worg_rider",
        ),
        reward_id: "stat:autopsy_boss_worg_rider",
    )),
)