(
    id: "research:autopsy_goblin_warrior",
    bonuses: {
        "damage:race:goblins": [
            (
                value: 0.1,
                mode: Percent,
            ),
        ],
    },
)