(
    id: "stat:autopsy_orc_elite",
    bonuses: {
        "damage:race:orcs": [
            (
                value: 0.1,
                mode: Percent,
            ),
        ],
    },
    unlock: Some((
        id: "stat:autopsy_orc_elite_unlock",
        display_name: Some("Stat Bonus: stat:autopsy_orc_elite"),
        condition: Completed(
            topic: "research:autopsy_orc_elite",
        ),
        reward_id: "stat:autopsy_orc_elite",
    )),
)
