(
    id: "stat:autopsy_siled",
    bonuses: {
        "damage:race:beasts": [
            (
                value: 0.1,
                mode: Percent,
            ),
        ],
    },
    unlock: Some((
        id: "stat:autopsy_siled_unlock",
        display_name: Some("Stat Bonus: stat:autopsy_siled"),
        condition: Completed(
            topic: "research:autopsy_siled",
        ),
        reward_id: "stat:autopsy_siled",
    )),
)