(
    id: "stat:autopsy_boss_orc_warlord",
    bonuses: {
        "damage:race:orcs": [
            (
                value: 0.1,
                mode: Percent,
            ),
        ],
    },
    unlock: Some((
        id: "stat:autopsy_boss_orc_warlord_unlock",
        display_name: Some("Stat Bonus: stat:autopsy_boss_orc_warlord"),
        condition: Completed(
            topic: "research:autopsy_boss_orc_warlord",
        ),
        reward_id: "stat:autopsy_boss_orc_warlord",
    )),
)
