(
    id: "stat:autopsy_goblin",
    bonuses: {
        "damage:race:goblins": [
            (
                value: 0.1,
                mode: Percent,
            ),
        ],
    },
    unlock: Some((
        id: "stat:autopsy_goblin_unlock",
        display_name: Some("Stat Bonus: stat:autopsy_goblin"),
        condition: Completed(
            topic: "research:autopsy_goblin",
        ),
        reward_id: "stat:autopsy_goblin",
    )),
)