(
    id: "stat:autopsy_worg_alpha",
    bonuses: {
        "damage:race:beasts": [
            (
                value: 0.1,
                mode: Percent,
            ),
        ],
    },
    unlock: Some((
        id: "stat:autopsy_worg_alpha_unlock",
        display_name: Some("Stat Bonus: stat:autopsy_worg_alpha"),
        condition: Completed(
            topic: "research:autopsy_worg_alpha",
        ),
        reward_id: "stat:autopsy_worg_alpha",
    )),
)