(
    id: "stat:bone_weapons_upgrade",
    bonuses: {
        "damage:bones": [
            (
                value: 0.5,
                mode: Additive,
            ),
        ],
    },
    unlock: None,
)