(
    id: "research:autopsy_elite_goblin_scout",
    bonuses: {
        "damage:race:goblin": [
            (
                value: 0.1,
                mode: Percent,
            ),
        ],
    },
)