(
  resources: {},
  entities: {
    1: (
      components: {
        "enemy_components::Enemy": (),
        "enemy_components::MonsterId": ("elite_goblin_scout"),
        "enemy_components::EnemyRange": CloseRange,
        "shared_components::DisplayName": ("Elite Goblin Scout"),
        "enemy_components::Health": (current: 2.0, max: 2.0),
        "enemy_components::MovementSpeed": (185.0),
        "enemy_components::Lifetime": ((stopwatch: (elapsed: (secs: 0, nanos: 0), is_paused: false), duration: (secs: 5, nanos: 0), mode: Once, finished: false, times_finished_this_tick: 0)),
        "bevy_transform::components::transform::Transform": (translation: (0.0, 290.0, 0.0)),
        "bevy_sprite::sprite::Sprite": (color: Srgba(Srgba(red: 0.011926767, green: 0.6478744, blue: 0.05731018, alpha: 1.0)), custom_size: Some((16.0, 16.0))),
      },
    ),
  },
)
