(
  resources: {},
  entities: {
    1: (
      components: {
        "enemy_components::Enemy": (),
        "enemy_components::MonsterId": ("goblin_scout"),
        "enemy_components::EnemyRange": MediumRange,
        "shared_components::DisplayName": ("Goblin Scout"),
        "enemy_components::Health": (current: 1.0, max: 1.0),
        "enemy_components::MovementSpeed": (185.0),
        "enemy_components::Lifetime": ((stopwatch: (elapsed: (secs: 0, nanos: 0), is_paused: false), duration: (secs: 10, nanos: 0), mode: Once, finished: false, times_finished_this_tick: 0)),
        "bevy_transform::components::transform::Transform": (translation: (0.0, 290.0, 0.0)),
        "bevy_sprite::sprite::Sprite": (color: Srgba(Srgba(red: 0.0, green: 0.49876878, blue: 0.03559386, alpha: 1.0)), custom_size: Some((16.0, 16.0))),
        "enemy_components::Drops": ([(id: "bones", value: 2, chance: 1.0), (id: "xykego", value: 1, chance: 1.0), (id: "sinew", value: 1, chance: 0.2)]),
        "enemy_components::MonsterTags": (["monster:goblin_scout", "race:goblins"]),
      },
    ),
  },
)
