(
  resources: {},
  entities: {
    1: (
      components: {
        "bevy_transform::components::transform::Transform": (translation: (0.0, 290.0, 0.0)),
        "bevy_sprite::sprite::Sprite": (
          color: Srgba(Srgba(red: 0.1, green: 0.8, blue: 0.1, alpha: 1.0)),
          custom_size: Some((16.0, 16.0)),
        ),
        "shared_components::DisplayName": ("Goblin Scout"),
        "enemy_components::Enemy": (),
        "enemy_components::MovementSpeed": (155.0),
        "enemy_components::MonsterId": ("goblin_scout_01"),
        "enemy_components::Health": (current: 1.0, max: 1.0),
        "enemy_components::Lifetime": ((stopwatch: (elapsed: (secs: 0, nanos: 0), is_paused: false), duration: (secs: 5, nanos: 0), mode: Once, finished: false, times_finished_this_tick: 0)),
        "enemy_components::ResourceRewards": ([(id: "bones", value: 5), (id: "xikegos", value: 1)]),
      },
    ),
  },
)
