(
  resources: {},
  entities: {
    1: (
      components: {
        "enemy_components::Enemy": (),
        "enemy_components::MonsterId": ("goblin_rider"),
        "enemy_components::EnemyRange": CloseRange,
        "shared_components::DisplayName": ("Goblin Rider"),
        "enemy_components::Health": (current: 5.2, max: 5.2),
        "enemy_components::MovementSpeed": (210.0),
        "enemy_components::Lifetime": ((stopwatch: (elapsed: (secs: 0, nanos: 0), is_paused: false), duration: (secs: 5, nanos: 0), mode: Once, finished: false, times_finished_this_tick: 0)),
        "bevy_transform::components::transform::Transform": (translation: (0.0, 290.0, 0.0)),
        "bevy_sprite::sprite::Sprite": (color: Srgba(Srgba(red: 0.4, green: 0.5, blue: 0.2, alpha: 1.0)), custom_size: Some((22.0, 22.0))),
        "enemy_components::Drops": ([(id: "bones", value: 5, chance: 1.0), (id: "xykego", value: 2, chance: 1.0), (id: "sinew", value: 1, chance: 0.4)]),
        "enemy_components::MonsterTags": (["monster:goblin_rider"]),
      },
    ),
  },
)
