(
  resources: {},
  entities: {
    1: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 290.0, 0.0),
        ),
        "bevy_sprite::sprite::Sprite": (
          color: Srgba(Srgba(red: 1.0, green: 0.0, blue: 0.0, alpha: 1.0)),
          custom_size: Some((16.0, 16.0)),
        ),
        "shared_components::DisplayName": ("Goblin"),
        "enemy_components::Enemy": (),
        "enemy_components::MovementSpeed": (150.0),
        "enemy_components::MonsterId": ("goblin"),
        "enemy_components::EnemyRange": CloseRange,
        "enemy_components::Health": (
          current: 2.0,
          max: 2.0,
        ),
        "enemy_components::Lifetime": (
             (
                stopwatch: ( elapsed: ( secs: 0, nanos: 0 ), is_paused: false ),
                duration: ( secs: 5, nanos: 0 ),
                mode: Once,
                finished: false,
                times_finished_this_tick: 0,
            ),
        ),
        "enemy_components::ResourceRewards": ([
          (id: "bones", value: 10),
          (id: "wood", value: 2),
          (id: "xikegos", value: 1)
        ]),
      },
    ),
  },
)
