(
    id: "encyclopedia_boss_worg_rider_data",
    display_name: None,
    condition: Completed(
        topic: "research:autopsy_boss_worg_rider",
    ),
    reward_id: "encyclopedia_data:boss_worg_rider",
)