(
    id: "encyclopedia_elite_goblin_scout_data",
    display_name: None,
    condition: Completed(
        topic: "research:autopsy_elite_goblin_scout",
    ),
    reward_id: "encyclopedia_data:elite_goblin_scout",
)