(
  resources: {
    "research::ResearchLibrary": (
      available: {
        "invaders":(
          id: 0,
          name: "Invaders",
          description: "They are green, pointy and ugly..but can we eat them?",
          prerequisites: [],
          cost: {},
          time_required: 60.0,
          unlocks: []
        )
        "bone_crafting": (
            id: 1,
            name: "Bone Crafting",
            description: "Crafting using bones",
            prerequisites: [],
            cost: { "bones": 10 },
            time_required: 30.0,
            unlocks: []
        ),
        "theology_i": (
            id: 2,
            name: "Theology I",
            description: "Is there more than physical?",
            prerequisites: [],
            cost: { "xikegos": 1 },
            time_required: 30.0,
            unlocks: []
        ),
        "bone_idol": (
            id: 3,
            name: "Bone Idol",
            description: "Will this please gods?",
            prerequisites: ["bone_crafting", "theology_i"],
            cost: { "xikegos": 10, "bones": 50 },
            time_required: 30.0,
            unlocks: []
        ),
        "basic_archery": (
          id: 3,
          name: "Basic Archery",
          description: "Allows crafting of crude bows.",
          prerequisites: [],
          cost: { "wood": 10, "bones": 20 },
          time_required: 10.0,
          unlocks: [],
        ),
        "bone_weaponry": (
          id: 4,
          name: "Bone Weaponry",
          description: "Sharpened bone swords.",
          prerequisites: ["bone_crafting"],
          cost: { "bones": 10 },
          time_required: 20.0,
          unlocks: [],
        ),
      },
    ),
  },
  entities: {},
)
