(
  resources: {
    "research::ResearchLibrary": (
      available: {
        "bone_crafting": (
            id: 0,
            name: "Bone Crafting",
            description: "Crafting using bones",
            prerequisites: [],
            cost: { "bones": 100 },
            time_required: 30.0,
            unlocks: []
          )
        "basic_archery": (
          id: 1,
          name: "Basic Archery",
          description: "Allows crafting of crude bows.",
          prerequisites: [],
          cost: { "wood": 10, "bones": 20 },
          time_required: 10.0,
          unlocks: [ Recipe("wooden_bow"), Recipe("bone_arrow") ],
        ),
        "bone_weaponry": (
          id: 2,
          name: "Bone Weaponry",
          description: "Sharpened bone swords.",
          prerequisites: ["bone_crafting"],
          cost: { "bones": 10 },
          time_required: 20.0,
          unlocks: [ Recipe("bone_sword") ],
        ),
      },
    ),
  },
  entities: {},
)
