(
  resources: {
    "research::ResearchLibrary": (
      available: {
        "basic_archery": (
          name: "Basic Archery",
          description: "Allows crafting of crude bows.",
          prerequisites: [],
          cost: { "wood": 10, "bones": 20 },
          time_required: 10.0,
          unlocks: [ Recipe("wooden_bow"), Recipe("bone_arrow") ],
        ),
        "bone_weaponry": (
          name: "Bone Weaponry",
          description: "Sharpened bone swords.",
          prerequisites: ["basic_archery"],
          cost: { "bones": 10 },
          time_required: 20.0,
          unlocks: [ Recipe("bone_sword") ],
        ),
      },
    ),
    "research::ResearchState": (
      in_progress: {},
      completed: [],
    ),
  },
  entities: {
    1: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 300.0, 0.0),
        ),
        "bevy_sprite::sprite::Sprite": (
          color: Srgba(Srgba(red: 0.5, green: 0.0, blue: 0.5, alpha: 1.0)),
          custom_size: Some((16.0, 32.0)),
        ),
        "portal_components::Portal": (),
        "portal_components::SpawnTimer": (
             (
                stopwatch: ( elapsed: ( secs: 6, nanos: 0 ), is_paused: false ),
                duration: ( secs: 3, nanos: 0 ),
                mode: Repeating,
                finished: true,
                times_finished_this_tick: 1,
            ),
        ),
      },
    ),
    2: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, -300.0, 0.0),
        ),
        "bevy_sprite::sprite::Sprite": (
          color: Srgba(Srgba(red: 0.824, green: 0.412, blue: 0.118, alpha: 1.0)),
          custom_size: Some((32.0, 32.0)),
        ),
        "village_components::Village": (),
        "bevy_ecs::hierarchy::Children": ([3]),
      },
    ),
    3: (
      components: {
        "hero_components::Hero": (),
        "bevy_ecs::hierarchy::ChildOf": (2),
        "bevy_ecs::hierarchy::Children": ([4]),
      },
    ),
    4: (
      components: {
        "hero_components::Weapon": (),
        "bevy_ecs::hierarchy::ChildOf": (3),
        "hero_components::Damage": (1.0),
        "hero_components::AttackRange": (150.0),
        "hero_components::AttackSpeed": (
          timer:
             (
                stopwatch: ( elapsed: ( secs: 0, nanos: 0 ), is_paused: false ),
                duration: ( secs: 1, nanos: 0 ),
                mode: Repeating,
                finished: false,
                times_finished_this_tick: 0,
            ),
         ),
      },
    ),
  },
)
