(
    id: "bone_bow",
    display_name: "Bone Bow",
    category: Weapons,
    craft_time: 60.0,
    cost: {
        "bones": 150,
        "sinew": 10,
    },
    outcomes: [],
    unlock: Some((
        id: "recipe_bone_bow_unlock",
        display_name: Some("Bone Bow"),
        condition: Completed(
            topic: "research:bone_bow",
        ),
        reward_id: "recipe:bone_bow",
        repeat_mode: Once,
    )),
)