(
    id: "bone_sword",
    display_name: "Bone Sword",
    category: Weapons,
    unlock_condition: True,
    craft_time: 60,
    cost: {
        "bones": 100,
    },
    outcomes: [
    ],
    description: "",
)
