(
    id: "bone_sword",
    display_name: "Bone Sword",
    category: Weapons,
    craft_time: 60.0,
    cost: {
        "bones": 200,
    },
    outcomes: [],
    unlock: Some((
        id: "recipe_bone_sword_unlock",
        display_name: Some("Bone Sword"),
        condition: Completed(
            topic: "research:bone_sword",
        ),
        reward_id: "recipe:bone_sword",
        repeat_mode: Once,
    )),
)