(
    id: "bone_bow",
    display_name: "Bone Bow",
    category: Weapons,
    unlock_condition: True,
    craft_time: 60,
    costs: {
        "bones": 50,
        "sinew": 5,
    },
    outcomes: [
    ],
    description: "",
)
