(
  resources: {
    "crafting_resources::RecipesLibrary": (
      recipes: {
        "bone_idol": (
          id: "bone_idol",
          display_name: "Bone Idol",
          category: Idols,
          craft_time: 5.0,
          required_research: Some("bone_idol"),
          cost: {
            "bones": 50, "xikegos": 5,
          },
          outcomes: [
            IncreaseDivinity(100),
          ],
        ),
        "wooden_bow": (
          id: "wooden_bow",
          display_name: "Wooden Bow",
          category: Weapons,
          craft_time: 5.0,
          required_research: Some("basic_archery"),
          cost: {
            "wood": 10,
          },
          outcomes: [
            SpawnPrefab("recipes/prefabs/wooden_bow.scn.ron"),
          ],
        ),
        "bone_sword": (
          id: "bone_sword",
          display_name: "Bone Sword",
          category: Weapons,
          craft_time: 8.0,
          required_research: Some("bone_weaponry"),
          cost: {
            "bones": 15,
            "wood": 2,
          },
          outcomes: [
            SpawnPrefab("recipes/prefabs/bone_sword.scn.ron"),
          ],
        ),
      },
    ),
  },
  entities: {},
)
