(
    id: "primitive_sling",
    display_name: "Primitive Sling",
    category: Weapons,
    craft_time: 25.0,
    cost: {
        "sinew": 5,
    },
    outcomes: [],
    unlock: Some((
        id: "recipe_primitive_sling_unlock",
        display_name: Some("Primitive Sling"),
        condition: Completed(
            topic: "research:primitive_sling",
        ),
        reward_id: "recipe:primitive_sling",
    )),
)
