(
    id: "wooden_bow",
    display_name: "Wooden Bow",
    category: Weapons,
    craft_time: 20.0,
    cost: {
        "wood": 10,
        "sinew": 5,
        "bones": 100,
    },
    outcomes: [],
)
