(
    id: "recipe_bone_sword",
    display_name: Some("Bone Sword Recipe"),
    reward_id: "crafting_recipe_bone_sword",
    condition: And([ // <--- Changed: Removed opening '('
        // Must have killed 10 goblins
        Stat(
            StatCheck(
                stat_id: "goblin_kills",
                value: 10.0,
                op: Ge,
            )
        ),
        // Must have bone crafting researched
        Unlock(
             "bone_crafting",
        ),
        // Must have 5 bones in inventory
        Resource(
             ResourceCheck (
                resource_id: "bones",
                amount: 5,
            ),
        ),
    ]), // <--- Changed: Removed closing ')'
)
