
(
    id: "test_unlock",
    display_name: Some("Testing Unlock"),
    reward_id: "fake_reward_id",
    condition: (
        type: "And",
        data: [
            // Must have killed 10 goblins
            (
                type: "Stat",
                data: (
                    stat_id: "goblin_kills",
                    value: 10.0,
                    op: Ge,
                ),
            ),
        ],
    ),
)
