(
    id: "test_research_unlock",
    display_name: Some("Research & Bones Test"),
    reward_id: "test_reward_2",
    condition: Resource(ResourceCheck(
        resource_id: "bones",
        amount: 10,
    )),
)
