(
    id: "reinforcements_i_unlock",
    display_name: Some("Reinforcements"),
    condition: And([
        Completed(
            topic: "research:reinforcement_i",
        ),
    ]),
    reward_id: "hero:second_hero",
)
