(
    id: "bone_bow",
    name: "Bone Bow",
    description: "Their bones and sinews combined to kill them all more easily.",
    cost: {
        "bones": 100,
        "sinew": 25,
    },
    time_required: 120.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_bone_bow_unlock",
        display_name: Some("Bone Bow Research"),
        condition: Completed(
            topic: "research:bone_crafting",
        ),
        reward_id: "research:bone_bow",
        repeat_mode: Once,
    )),
    tags: [],
)