(
    id: "bone_pile",
    name: "Pile of Bones",
    description: "Bones have piled up, emanating ominous energy... is it whispering to us?",
    cost: {
        "bones": 200,
    },
    time_required: 90.0,
    max_repeats: 1,
    unlock: Some((
        id: "research_bone_pile_unlock",
        display_name: Some("Pile of Bones Research"),
        condition: And([
            Value(
                topic: "divinity",
                op: Ge,
                target: 105.0,
            ),
            Value(
                topic: "resource:bones",
                op: Ge,
                target: 200.0,
            ),
        ]),
        reward_id: "research:bone_pile",
        repeat_mode: Once,
    )),
    tags: [],
)