(
    id: "bone_sword",
    display_name: "Bone Sword",
    weapon_type: Melee(
        arc_width: 1.047,
    ),
    damage: 1.0,
    attack_range: 150.0,
    attack_speed_ms: 500,
    tags: [
        "damage",
        "damage:melee",
        "damage:weapon:bone_sword",
        "damage:weapon:bones",
    ],
    bonuses: {},
)